body,h1,h2,h3,h4,h5,h6,a,p,li,ul,ol{
  margin:0px;
  padding:0px;
  font-family:tahoma;
}
/*header style start*/
.header{
  background:linear-gradient(#4d68a1,#3b5998);
  overflow: hidden;
  padding-top:10px;
  padding-bottom:5px;
  border-bottom:1px solid #133783;
}
.mid{
  width:80%;
  margin:auto;
  max-width:1000px;
}
.logo{
  width:60%;
  float:left;
  margin-top:21px;
}
.input-area{
  width:40%;
  float: left;
}
.input1 input,
.input2 input{
  display: block;
  border:1px solid #1d2a5b ;
  padding:3px;
  width: 142px;
  margin:3px 0px ;
}
.input1,
.input2,
.input3{
  float: left;
  margin-right:10px;
}
.input1 label,
.input2 label{
  color:#fff;
  font-family:tahoma;
  font-size:13px;
  cursor: pointer;
}
.input2 a{
  color:#9cb4d8;
  font-family:tahoma;
  text-decoration: none;
  font-size:13px;
}
.input2 a:hover {
  text-decoration:underline;
}
.input3 input{
  color: #fff;
  font-family:tahoma;
  font-size:12px;
  background-color: #5b74a8;
  border:1px solid #29487d;
  padding:2px 5px 4px;
  cursor: pointer;
  margin-top:22px;

}
.input3 input:hover{
  background-color: #4267b2;
}
/*header style ends*/
/* facebook body starts here*/
.fb-body{
  background:linear-gradient(#fefefe,#d3d8e8);
  overflow: hidden;
  padding:20px 0px;
}
.fb-left{
  width:60%;
  float: left;
}
.fb-right{
  width:40%;
  float: left;
}
.fb-left h2{
  font-size:20px;
  color: #0e385f;
  font-weight:600;
  font-family:tahoma;
}
.fb-left h2 span{
  display: block;
}
.fb-right h1{
  color: #333;
  font-size:36px;
  font-family:tahoma;
}
.fb-right p{

}
.reg-form{
  margin-top:10px;
  width:90%;

}

.reg-form input{
  width:100%;
  padding:8px 10px;
  font-size:18px;
  border:1px solid #bdc7d8;
  margin-top:5px;
  border-radius:5px;
  box-sizing:border-box;
}
.reg-form input:nth-child(1){
  width:50%;

}
.reg-form input:nth-child(2){
  width:49%;
  float:right;

}

.birthday h3{
  color:#98949c;
  font-size:16px;
  margin-top:17px;
  margin-bottom:8px;
}
.birthday select{
  padding:6px 5px;
  border:1px solid #ccd0d5;

}
.gender h3{
  color:#98949c;
  font-size:16px;
  margin-top:17px;
  margin-bottom:8px;
}
.gender p{
  color: #777777;
  font-size:11px;
  line-height:16px;

}
.gender p span{
  display: block;
}
.gender p a{
  color: #385898;
}


.birthday select:nth-child(3){
  margin-left:-5px;

}
.birthday select:nth-child(4){
  margin-left:-5px;

}
.gender label{
  color: #1d2129;
  font-size:18px;
  padding: 0px 6px;
}
.p1{
  color:#666666;
  font-size:11px;
  padding: 17px 0px;
}
.p1 span{
  display: block;
}
.p1 a{
  color:#385898;
  text-decoration: none;
}
.button input{
  background:linear-gradient(#99d97e,#588944);
  color: #fff;
  border:1px solid #2c5115;
  padding: 8px 60px;
  border-radius: 5px;
  font-size: 18px;
}
.p2{
  color: #666666;
  font-size:12px;
  font-weight:600;
  padding: 32px 0px;
}
.p2 a{
  color:#385898;
  text-decoration: none;
}
/* start footer */
.footer{
  padding:30px 0;
}
.footer ul li{
  display: inline;

}
.footer ul li a{
  text-decoration: none;
  color:#385898;
  font-size:13px;
}
.footer ul li.active a{
  color:#737373;

}
.footer span{
  color:#737373;
  font-size:13px;
}
.footer .top ul li{
  margin-right:8px;
}
.footer .middle ul li{
  margin-right:12px;
}
.footer .top ul li:last-child a{
  border:1px solid #999;
  padding:0 6px;
}
.footer hr{
  border:0px;
  border-bottom:1px solid #d4d4d4;
}
.footer .top ul li:last-child,
.footer .middle ul li:last-child{
  margin-right:0px;
}
.footer .bottom{
  margin-top:25px;
}
